.fullwidth-line-blocks {
    font-size: 0;

    .fullwidth-line-blocks__block {
        font-size: $font_size_base;

        &:first-child {
            margin-left: 0 !important;
        }
        &:last-child {
            margin-right: 0 !important;
        }
    }
}